
@font-face {
  font-family: 'Raleway';
    src: url('fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway-Light';
    src: url('fonts/Raleway-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: 15px;
    line-height: 1.52;
    color: black;
    font-size: 16px;
	font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow-x: hidden; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.btn.btn-default.btn-lg {
  letter-spacing:2px;
}

.btn-default {
  background-image:none;
  background-image:none;
  background-image:none;
  background-image:none;
  background-repeat:no-repeat;
  filter:none;
  -webkit-filter:none;
  filter:none;
  border:1px solid #fefefe;
  background-color:rgba(0, 162, 250, 0.52);;
  color:#fefefe;
}

.navbar-default {
  border-bottom:#fefefe;
  background-color: rgba(0, 162, 250, 0.82);
  font-family: Raleway;
  font-size: 16px;
}

.btn-default:hover {
  opacity:.4;
  background-color:rgba(0, 162, 230, 0.82);
  color:#fefefe;
  border:1px solid #fefefe;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 /* color:RGBA(0, 0, 0, 0.67);
  background-color: RGBA(0, 0, 0, 0.67);
  //background-color:none;*/
}

.navbar-brand.navbar-link {
  color:rgba(255, 178, 36, 1);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:#000;
  background-color:rgba(0, 162, 230, 0.82);
}

#banner{
    background-color: rgba(222, 222, 222, 1);
    background-size: cover;
    min-height: 630px;
}
#menu{
    color: linear-gradient(to bottom right, rgba(0, 162, 250, 0.82), rgba(0, 162, 250, 0.82)); 
    background: url('../img/bg.jpg');
    min-height: 630px;
}

.bg-color{
    background-color: RGBA(0, 0, 0, 0.);
    min-height: 630px;
}
.bg-color2{
    background: linear-gradient(to bottom right, rgba(0, 162, 250, 0.82), rgba(0, 162, 250, 0.82));
    min-height: 630px;
}
#banner h2{
    font-family: 'Raleway-Light', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    color: rgba(0, 162, 250, 1);
}
#banner p{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-size: 34px;
}
#sectionmenu
{

}
.section-padding{
    padding: 60px 0px;
}
.logo-name{
    font-family: 'Raleway';
    text-shadow: 2px 2px 4px #000000;
    font-size: 240px;
    margin-top: 40px;
    color: rgba(0, 162, 250, 0.82);
}
.logo-name-kratka{
    font-family: 'Raleway';
    font-size: 160px;
    margin-top: 40px;
    color: black;
    text-shadow: 1px 1px 10px #fafafa;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.menu-icon
{
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
}

.header-h {
    color: #FFB03B;
    font-size: 100px;
    text-shadow: 1px 1px 2px #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: rgba(0, 162, 250, 0.82);
}
.header-p {
    color: #9699a6;
    font-size: 16px;
}
.msg-row {
    margin-top: 56px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.bg-13 {background-color: #f04e4e;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.contact-icon {
    color: #fff;
    position: absolute;
    left: 34px;
    font-size: 32px;
    margin-top: 18px;
}
.bg-1 {
    background-color: #fecc17;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.bg-14 {
    background-color: #ccdb38;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.dark-blue {
    color: #31364c;
    font-size: 24px;
    margin-top: 0;
}
.light-blue {
    color: #9699a6;
    font-size: 16px;
    margin-bottom: 1px;
}
.media-body {
    margin-left: 10px;
    padding-left: 13px;
}
.media-2 {
    margin-top: 30px;
}
.newinput .form-group {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form .form-control {
    color: #000 !important;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

.phone-in-talk, .hour-icon
{
    font-size: 35px;
    line-height: 70px;
    color: rgb(255, 255, 255);
}


.heading{
    color: black;
    font-size: 72px;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 10px #fafafa;
}
}
.marb-35{
    margin-bottom: 35px;
}
.details-list{
    margin-top: 20px;
    color: black;

}
.details-list ul li i {
    margin-right: 10px;
    color: black;
}
#about{
    background: url('../img/bg.jpg');
}
#about img
{
    border: 5px solid rgb(255, 176, 59);
    border-radius: 2px;

}
#event{
    background: url('../img/res02.jpg') no-repeat;
    background-size: cover;
}
.left-images img {
    height: 308px;
    width: 100%;
}
.left-images{
    padding: 0px;
}
.details-text {
    border-right: 2px solid #841b2d;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}
.content-holder h2 {
    color: #FFB03B;
    font-size: 22px;
    padding-bottom: 15px;
    font-family: 'Raleway';
    text-shadow: 2px 2px 4px #000000;
}
.content-holder address strong {
    color: #FFB03B;
    padding: 10px 0px;
}
.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}
.btn-read-more {
    background: #FFB03B;
    padding: 7px 19px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}

.btn-read-more:hover
{
    color: #000;
}
#Container .mix{
    display: none;
}

.footer {
    width: 100%;
    background-color: #222;
    position: relative;
    z-index: 1;
}
.footer a {
    color: #fff;
}

.footer .footer-top {
    padding-top: 9rem;
    padding-bottom: 5rem;
}
.footer .widget-title, .footer .widget-title a {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #999;
}
.footer .widget-title{
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    color: rgba(0, 162, 250, 0.82);
}
.footer .widget, .footer address {
    color: #999;
    text-transform: none;
    font-style: normal;
    padding-bottom: 15px;
}
.footer .navigation, .footer .social-list {
    float: none;
    margin-bottom: 20px;
}
.list-horizontal li {
    display: inline-block;
}
#contact{
    background-color: rgba(221, 221, 221, 0.33);
}
.footer .social-list a {
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    margin: 0 5px;
}
@media (min-width: 768px) and (max-width: 980px) {
    .content-holder h2 {
        font-size: 23px;
        text-shadow: 2px 2px 4px #000000;
    }
    .details-text p {
        line-height: 16.6px;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
}
@media (min-width: 20px) and (max-width: 450px) {
    .menu-restaurant {
    width: 100%;
    }
    .details-text {
        border:0px;
        border-bottom: 2px solid #A87F41;
    }
    .header-h {
        font-size: 35px;
        color: rgba(0, 162, 250, 0.82);
    }
    .header-p, body{
        font-size: 14px;
    }
    .about-info, .mr-15{
        margin-bottom: 15px;

    }
    #banner h2{
        font-size: 80px;
        font-family: 'Raleway';
        text-shadow: 2px 2px 4px #000000;
    }
    #banner p{
        font-size: 25px;
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


